html, body {
   	width: 100%;
    height: 100%;
    background: #393939;
    margin: 0;
    box-sizing: border-box;
}

body {
	display: flex;
    flex-direction: column;
    gap: 1ch;
    padding: 1ch;
    position: absolute;
    box-sizing: border-box;
}

#rendered-pane, #editor-pane {
    box-sizing: border-box;
    border-radius: 1ch;
    background: #262626;
}

#component-container {
    width: 210mm;
	height: 297mm;
	background: white;
	transform-origin: left top;
	position: relative;
    user-select: none;
}

#component-container-container {
	margin: auto;
	width: 210mm;  /* Default size, will be overridden on first zoom. Same as size of component-container */
	height: 297mm;
	position: relative;
}

#rendered-pane {
	position: relative;
	overflow: hidden;
    flex: 1;
}

#rendered-pane-padding {
	padding: 1ch;
	overflow: auto;
	box-sizing: border-box;
	width: 100%;
  	height: 100%;
}

.scroll {
	overflow: auto;
}

#component-controls, #file-controls {
	position: absolute;
	z-index: 10;
	display: flex;
    flex-direction: column;
}

#component-controls {
	right: 1ch;
	bottom: 1ch;
}

#file-controls {
	right: 1ch;
	top: 1ch;
}

#editor-pane {
	padding: 1ch;
	color: white;
	overflow-x: auto;
	align-items: flex-start;
	gap: 1ch;
    flex: 0 1 auto;
    max-height: 50vh;
}

#editor-pane:has(*) {
    display: flex;
}

#editor-pane:not(:has(*)) {
    display: none;
}

#editor-pane > div > :not(br) {
    display: block;
}

#editor-pane > table {
    border-collapse: separate;
    border-spacing: 1px 1px;
}

#editor-pane > div input, #editor-pane > div select {
    border: none;
    border-radius: 0.5ch;
    background-color: lightgray;
    text-align: center;
    padding: 0px;
}

#editor-pane > table input {
    border: none;
    background-color: lightgray;
    text-align: center;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#editor-pane > table td:has(input) {
    position: relative;
    padding: 0;
    height: 25px;
}

#editor-pane > table tr:not(:has(*)) {
    height: 1px;
}

#editor-pane > table td:not([data-toggle-enabled]) {
    width: 1px;
}

#editor-pane > table > tr:first-child > td:nth-child(2) > input {
	border-top-left-radius: 0.5ch;
}

#editor-pane > table tr:first-child td:last-child input {
	border-top-right-radius: 0.5ch;
}

#editor-pane > div div:has(> input, > select):not(:has(> table)) {
    display: flex;
}

#editor-pane > div label {
    white-space-collapse: preserve;
}

#editor-pane > table td[data-toggle-enabled] {
    position: relative;
    padding: 0;
    height: 25px;
    cursor: pointer;
    min-width: 1ch;
    user-select: none;
}

#editor-pane > table td[data-toggle-enabled="true"] {
    background-color: lightgreen;
}

#editor-pane > table td[data-toggle-enabled="false"] {
    background-color: green;
}

svg {
	overflow: visible;
	transition: background 0.1s, border-color 0.1s;
	border: 1mm solid;
	border-radius: 3mm;
	border-color: rgba(255, 127, 0, 0);
	position: absolute;
	stroke-linecap: round;
  	stroke-linejoin: round;
}

svg path, g path {
	fill: none;
	stroke: black;
	stroke-width: 1;
}

svg circle, g circle {
	fill: black;
	stroke: none;
}

svg text {
    fill: black;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: middle;
    white-space: preserve;
}

svg .tuplet-text {
    font-style: italic;
    font-weight: bold;
    font-size: 5px;
}

svg:not(:hover):not([data-selected]) {
	background: rgba(0, 255, 0, 0.2);
}

svg:not(:hover)[data-selected] {
	background: rgba(212, 255, 0, 0.3);
}

svg:hover:not([data-selected]) {
	background: rgba(255, 127, 0, 0.2);
	border-color: rgba(255, 127, 0, 0.9);
}

svg:hover[data-selected] {
	background: rgba(255, 127, 0, 0.3);
	border-color: rgba(255, 127, 0, 0.9);
}

@media print {
	body {
		visibility: hidden;
	}
	
	#component-container {
		visibility: visible;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}
