html, body {
   	width: 100%;
    height: 100%;
    background: #393939;
    margin: 0;
    box-sizing: border-box;
}

body {
	display: flex;
    flex-direction: column;
    gap: 1ch;
    padding: 1ch;
}

td.editor-sequencer-toggle {
  position: relative;
  padding: 0;
  height: 25px;
  cursor: pointer;
  min-width: 1ch;
}

input[type="checkbox"].editor-sequencer-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

td:has(input[type="checkbox"]:checked).editor-sequencer-toggle-decoration {
    background-color: orange;
}

td:has(input[type="checkbox"]:not(:checked)).editor-sequencer-toggle-decoration {
    background-color: orangered;
}

td:has(input[type="checkbox"]:checked).editor-sequencer-toggle-drum {
    background-color: lightgreen;
}

td:has(input[type="checkbox"]:not(:checked)).editor-sequencer-toggle-drum {
    background-color: green;
}

input[inputmode="numeric"]::-webkit-outer-spin-button, input[inputmode="numeric"]::-webkit-inner-spin-button, .score-sequencer-option-box {
    -webkit-appearance: none;
    margin: 0;
}

input[type="numeric"], .score-sequencer-option-box {
	-moz-appearance: textfield;
}

td.editor-sequencer-subdivision-control {
    position: relative;
    padding: 0;
    height: 25px;
}

input[inputmode="numeric"].editor-sequencer-subdivision-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input[inputmode="numeric"].editor-sequencer-subdivision-control, .score-sequencer-option-box {
  border: none;
  background-color: lightgray;
  text-align: center;
  padding: 0px;
}

.score-sequencer-option-box {
  border-radius: 0.5ch;
}

.editor-sequencer-table tr:first-child th + td input {
	border-top-left-radius: 0.5ch;
}

.editor-sequencer-table tr:first-child td:last-child input {
	border-top-right-radius: 0.5ch;
}

.editor-sequencer-table tr:last-child th + td {
	border-bottom-left-radius: 0.5ch;
}

.editor-sequencer-table tr:last-child td:last-child {
	border-bottom-right-radius: 0.5ch;
}

body {
    position: absolute;
    box-sizing: border-box;
}

.score-component {
    position: absolute;
}

#component-container {
    position: relative;
    width: 210mm;
	height: 297mm;
	margin: auto;
	background: white;
}

#rendered-pane, #editor-pane {
    box-sizing: border-box;
    border-radius: 1ch;
    background: #262626;
}

#rendered-pane {
	overflow: scroll;
	padding: 1ch;
}

#editor-pane {
	padding: 1ch;
	color: white;
	display: flex;
	overflow-x: auto;
	align-items: flex-start;
}

#editor-pane > * {
	flex: 0 0 auto;
}

body > * {
	flex: 1;
} 

.editor-sequencer-table {
	border-collapse: separate;
	border-spacing: 1px 1px;
}

.editor-sequencer-subdivision-decoration-divider, .editor-sequencer-decoration-drum-divider {
	height: 1px;
}

.editor-squencer-beat-divider {
	width: 1px;
}

svg {
	overflow: visible;
	background: rgba(0, 255, 0, 0.2);
	transition: background 0.3s, border-color 0.3s;
	border-color: rgba(255, 127, 0, 0);
}

svg path, g path {
	fill: none;
	stroke: black;
	stroke-width: 1;
}

svg circle, g circle {
	fill: black;
	stroke: none;
}

svg text {
	fill: black;
	stroke: none;
	font-style: italic;
	font-weight: bold;
	text-anchor: middle;
	dominant-baseline: middle;
	font-size: 5px;
}

svg:hover {
	background: rgba(255, 127, 0, 0.2);
	border: 1mm solid;
	border-color: rgba(255, 127, 0, 0.9);
	border-radius: 3mm;
}
